#topnavbar{
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 0px;
    
}
#wrapper{
    margin: auto;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}
body{
    margin: 0;
    font-family:'JetBrains Mono' ;
}
main { 
    flex: 1;
    max-width: 1024px;
    margin: 0 auto;
}
#logo{
   max-height: 15vh;
   min-height: 100px;

}
.welcometext{
    text-align: center;
    font-size: 30px;
}

#toplist{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topnav {
    overflow: hidden;
    background-color: #5ca4c5;
  }
  

  .topnav #toplinks {
    display: none;
  }
  

  .topnav a {
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 16px;
    display: block;
  }
  

  .topnav a.icon {
    color: #0D1321;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  

  .topnav a:hover {
    background-color: #D9DBDF;
    color: #0D1321;
  }
header{
    background-color: #B287D6;
}

#toplinks{
    text-align: center;
}
.topnav .icon {
    display: none;
  }
#myCarousel {
    max-height: 600px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#myCarousel img {
    max-height: 100%;
    width: auto;
    display: block;
}
.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(61, 63, 66, 0.747); 
    color: white;
    padding: 20px 20px;
    border-radius: 5px;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s;
    text-align: center;
}

#myCarousel:hover .carousel-text {
   opacity: 0;
}
.product-tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.product-tile {
    width: 100%;
    max-width: 320px;
    background-color: #fff;
    border: 1px solid #EFEDE7;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.product-tile img {
    max-width: 100%;
    height: auto;
}

.product-tile p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}
.product-tile:hover{
    transform: scale(1.05);
}
.product-title {
    font-weight: bold;
    text-align: center;
}
.section-title{
    font-size: 24px;
    text-align: center;
    margin: 0px;
    padding-top: 20px;
}
.bottomlinks {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #EFEDE7;
}

.bottomlinks li {
    display: block; 
}

.bottomlinks a:hover{
    color: #ffffff; 
    cursor: pointer; 
}

footer {
    background-color: #0D1321;
    text-align: center; 
    padding: 10px;
}
.fa{
    text-decoration: none;
    padding: 20px;
    background-color: #D9DBDF;
    border-radius: 20%;
    margin: 10px;
}
.fa:hover{
    opacity: 0.7;
    text-decoration: none;
}
.footertext{
    color: #EFEDE7;
    font-size: smaller;
}
#signature{
    font-size: 0.8rem;
    font-family: monospace;
    color: #fff;
}

.intxthyperlink:link{
    font-weight: bolder;
    color: #B287D6;
}
.intxthyperlink:visited{
    color: #65477e;
}
.intxthyperlink:hover{
    color:#1c233f ;
}
.intxthyperlink:active{
    color: #e7caeb;
}

pre {
    white-space: pre-wrap;  
    word-wrap: break-word;  
    background-color: #f5f5f5; 
    padding: 10px; 
    border: 1px solid #ccc; 
    overflow: auto; 
    max-width: 100%; 
}
ul{
    list-style:armenian;
}
ol{
    list-style: upper-roman;
}
blockquote{ 
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ccc;
    max-width: 100%;
}
.welcomep{
    text-align: center;
    font-size: 15px;

}

@media (min-width: 500px) {
    .bottomlinks {
 display: flex;
 justify-content: space-around;
    }
}

@media (min-width: 700px) {
    .product-tiles {
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-between; 
    }

    .product-tile {
        flex-basis: calc(50% - 20px); 
        max-width: calc(50% - 20px); 
    }
}
@media (min-width: 900px) {
    .product-tile {
        flex-basis: calc(33% - 20px); 

    }
}
